@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

.about-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: white;
  z-index: -99999;
  position: relative;
  height: 100%;
}

.about-container h1 {
  font-size: 5rem;
  margin-bottom: 50px;
  color: hotpink;
  margin-top: 10px;
  box-shadow: hotpink 5px 10px 20px;
  border-radius: 5px;
}

.about-content {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 2rem;
  width: 500px;
  height: 650px;
  background-color: white;
  text-align: center;
  border-radius: 10px;
  position: relative;
  margin-bottom: 150px;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.about-content::after,
.about-content::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(from var(--angle), transparent 90%, hotpink);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  padding: 10px;
  border-radius: 15px;
  animation: spin 2s linear infinite;
}

.about-content::before {
  filter: blur(20px);
  opacity: 0.5;
}

@keyframes spin {
  0% {
    --angle: 0deg;
  }
  100% {
    --angle: 360deg;
  }
}

.about-container p {
  font-size: 1.5rem;
  padding: 1rem;
  color: rgba(0, 0, 0, 0.5);
  font-family: Roboto;
}

a {
  color: rgba(0, 0, 0, 0.5);
}
