.cardpack-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-self: center;
  margin-bottom: 20px;
  height: 200%;
}

.headers-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-self: center;
  color: plum;
}

.headers-container > h1 {
  font-size: 6rem;
  font-weight: bold;
  box-shadow: 10px 10px 10px plum;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.headers-container > h2 {
  margin-top: 0;
  font-size: 3rem;
  margin-bottom: 4rem;
}


.cardpacks {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 15px;
}

.card {
  margin-left: 20px;
}

.card-text svg {
  font-size: 3rem;
  margin: 1rem;
}

@media screen and (max-width: 960px) {
  .cardpack-container {
    width: 100%;
    height: 190vh;
  }

  .headers-container > h1 {
    font-size: 30px;
  }
  .headers-container > h2 {
    font-size: 20px;
  }

  .cardpacks {
    grid-template-columns: repeat(1, auto);
  }

  .row {
    flex-direction: column;
  }
}
