.photobooth-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100vw;
  background-color: rgb(145, 145, 180);
  padding-top: 20px;
  position: relative;
  overflow: hidden;
}

.camera-container > h1 {
  font-size: 5rem;
  margin-bottom: 1rem;
  color: gold;
  text-shadow: gold 0 0 10px;
  border-radius: 10px;
}

.camera-container > p {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  color: gold;
  text-shadow: plum 0 0 10px;
}

.camera-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  color: transparent;
}

.camera {
  position: relative;
  height: 700px;
  width: 500px;
  border: 5px solid plum;
  box-shadow: plum 0 10px 30px;
  border-radius: 50px;
  margin-bottom: 30px;

  display: flex;
  justify-content: flex-end;
  overflow: hidden;
}

.camera video {
  position: absolute;
  width: 500px;
  height: 700px;
  border-radius: 10px;
  object-fit: cover;
  background-color: rgb(187, 126, 187);
}

.controls {
  position: absolute;
  bottom: 0;

  width: 100%;
  height: 10%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.controls button {
  border: plum 5px solid;
  width: 60px;
  height: 60px;
  border-radius: 50%;

  left: 50%;
  opacity: 0.95;
  transition: 0.2s ease all;
}

.controls button:hover {
  background-color: rgb(190, 117, 190);
}

.controls > canvas {
  position: absolute;
  right: 40px;
  width: 50px;
  height: 50px;
  border: lightgrey 1px solid;
  border-radius: 10px;
  transition: 0.2s ease all;
}

.controls.active {
  position: absolute;
  height: inherit;
  width: inherit;
}

.controls.active > canvas {
  position: absolute;
  width: 1000px;
  height: 1000px;

  min-width: 100%;
  max-height: 100%;
  border: none;

  right: 0;
}
