.cardpage-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.cardpage-container > h1 {
  font-size: 5rem;
  color: hotpink;
  margin-bottom: 50px;
}

.conversation-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 5px solid lavender;
  width: 1000px;
  height: 500px;

  color: rgb(255, 156, 172);
  padding: 20px;
  padding-top: 100px;
  font-size: 30px;
}

.question-icon {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 5 px;
  margin-top: auto;
}

.cardpage-container button {
  background-color: hotpink;
  color: white;
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
  margin-top: 20px;
  border: none;

  font-family: "comic sans ms";
  transition: all 0.2s ease;
}

.cardpage-container button:hover {
  transition: all 0.2s ease;
  box-shadow: 0 0 10px hotpink;
}

.turn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: hotpink;
  font-size: 5rem;
}

.turn-squares {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.turn {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;

  font-size: 50px;

  width: 500px;

  color: lightpink;
}

.turn-selected {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 50px;

  transition: all 0.2s ease;
  background-color: lavender;
  width: 500px;

  color: lightpink;
}

@media screen and (max-width: 960px) {
  .cardpage-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
  }
  .cardpage-container > h1 {
    font-size: 20px;
    margin-bottom: none;
  }

  .cardpage-container button {
    height: 30px;
    font-size: 10px;
    margin-bottom: 10px;
  }

  .turn-container {
    font-size: 20px;
  }

  .conversation-card-container > h2 {
    font-size: 25px;
  }

  .conversation-card-container {
    width: 300px;
    height: 300px;
  }

  .turn, .turn-selected{
    font-size: 20px;
  }
}
