.cardpage-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  position: relative;
}

.cardpage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  min-height: 100%;
}

.cardpage > h1 {
  font-size: 5rem;
  color: hotpink;
  margin-bottom: 50px;
  text-shadow: hotpink 0 0 10px;
}

.conversation-card-container > h2 {
  font-size: 4rem;
  color: pink;
  margin-top: 40px;
  height: 100%;
}

.conversation-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  border-radius: 5px;
  z-index: inherit;
  width: 500px;
  height: 690px;
  background-color: white;
  color: rgb(255, 156, 172);
  padding: 20px;
  padding-top: 50px;
  font-size: 30px;
  margin-bottom: 50px;
}

.conversation-card-container::after,
.conversation-card-container::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(
    from var(--angle),
    lightpink,
    pink,
    hotpink,
    pink,
    lightpink
  );
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -5;
  padding: 10px;
  border-radius: 15px;
  animation: spin 2s linear infinite;
}

.question-icon {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 5px;
  margin-top: auto;
}

.cardpage > button {
  background-color: hotpink;
  color: white;
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
  margin-top: 20px;
  border: none;

  margin-bottom: 10px;

  font-family: "comic sans ms";
  transition: all 0.2s ease;
}

.cardpage > button:hover {
  transition: all 0.2s ease;
  box-shadow: 0 0 10px hotpink;
}

.turn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: hotpink;
  font-size: 5rem;
  border: plum 3px dotted;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  transition: ease all 0.5s;
}

.turn-container:hover {
  box-shadow: 10px 10px 20px plum;
  transition: ease all 0.5s;
}

.turn-container button {
 background-color: lavender;
  color: hotpink;
  font-size: 2rem;
  padding: 10px;
  border-radius: 10px;
  border: none;
  margin: 5px;
  cursor: pointer;
  transition: ease all 0.5s;
}

.turn-ui input {
  height: 50px;
  width: 50%;
  color: hotpink;
  font-size: 20px;
  border: 2px solid lavender;
  border-radius: 5px;
  margin: 5px;
  outline: lavender 3px;
}

.theme-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.theme-container > h2 {
  font-size: 3rem;
  color: hotpink;
  margin-bottom: 15px;
}

.theme-input input {
  height: 50px;
  width: 500px;
  color: hotpink;
  font-size: 20px;
  border: 2px solid lavender;
  border-radius: 5px;

  outline: lavender 3px;
  margin-bottom: 20px;
}

.theme-input input::placeholder {
  color: grey;
}

.question-icon.active {
  animation: load 0.25s linear infinite;
}

@keyframes load {
  0% {
    transform: rotate(0deg);
    color: lavender;
  }
  100% {
    transform: rotate(360deg);
    columns: hotpink;
  }
}

.cardpage-container {
  animation: rotate 2s linear infinite;
}

.turn-container > h1 {
  font-size: 5rem;
  color: hotpink;
  margin-bottom: 10px;
}

.turn {
  display: flex;
  justify-content: center;

  list-style: none;
  font-size: 2rem;
  background-color: lavender;
  width: auto;
  border-radius: 10px;
  border: grey 1px solid;
  margin-bottom: 10px;
  transition: 0.5s ease all;
}

.turn.selected {
  transition: 0.5s ease all;
  background-color: hotpink;
  color: white;
}

@media screen and (max-width: 960px) {
  .cardpage-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
  }
  .cardpage > h1 {
    font-size: 50px;
    margin-bottom: 10px;
    margin-top: 0;
  }

  .cardpage-container button {
    height: 30px;
    font-size: 10px;
    margin-bottom: 10px;
  }

  .turn-container h2 {
    font-size: 2rem;
  }

  .conversation-card-container h2 {
    font-size: 40px;
  }

  .conversation-card-container {
    width: 250px;
    height: 450px;
  }

  .theme-container {
    height: auto;
  }

  .theme-container h2 {
    font-size: 2rem;
  }

  .theme-container input {
    width: 300px;
    font-size: 15px;
  }
}