.card-container{
    transition: all 0.2s ease;

    display: flex;
    align-items: center;
    justify-self: center;
    flex-direction: column;

    width: 250px;
    height: 250px;
    border: lavender 3px solid;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 lavender;
    

    margin-bottom: 10px;
    color: rgb(206, 41, 206);
}

.card-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    padding: 10px;
    color: rgb(221, 102, 205);
}

.card-container:hover{
    transition: all 0.2s ease;
    box-shadow: 10px 10px 30px 10px lavender;
}
