.footer-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  background-color: #ee8cd0;
  border-top: lightgrey 2px solid;
  height: auto;
  width: 100%;
  position: relative;

  color: white;

  padding-top: 10px;
}

.footer-container h1, .footer-container h2{
  cursor: default;
}

.link {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.connects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.connects a,
.connects svg {
  font-size: 1.5rem;
  color: inherit;
  font-weight: bold;
  padding-bottom: 1px;
  transition: ease-in-out 0.2s;
  cursor: pointer;
  text-decoration: none;
}

.link {
  display: flex;
  margin: 10px 0px;
  transition: ease-in-out 0.1s;

}
.link:hover {
  color: #fe019a;
  transition: ease-in-out 0.05s;
  cursor: pointer;
}

.link.line::after {
  content: "|";
  font-size: 1.5rem;
  display: inline-block;
  color: white;
  margin: 0px 10px;
}

@media screen and (max-width: 768px) {
  .footer-container {
    flex-direction: column;
  }
  .connects {
    flex-direction: row;
  }
  .footer-container h2,
  .footer-container h1 {
    font-size: smaller;
  }

  .connects a,
  .connects svg {
    margin: 10px 0 10px 0;
    font-size: smaller;
  }
}
